.board {
  display: flex;
  position: relative;
  
  &__grid {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    background-color: #f0cea0;
  }
  
  &__row {
    display: flex;
    flex-direction: row;
  }
  
  &__column-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 0.5rem;
  }
  
  &__row-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5rem;
  }
  
  &__label {
    font-size: 0.8rem;
    color: #333;
    text-align: center;
  }
}
