.square {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  
  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
  }
  
  &--selected {
    background-color: rgba(255, 255, 0, 0.3);
  }
  
  &--drop-target {
    background-color: rgba(0, 255, 0, 0.2);
    
    &:hover {
      background-color: rgba(0, 255, 0, 0.4);
    }
  }
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
